@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.cat-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    perspective: 500px;
  }
  .spacecat {
    width: 300px;
    height: 300px;
    animation: rotation 6s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  p {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    text-align: center;
    opacity: 0;
    width: 100%;
  }

  .text{
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
  }

  .t1{
    animation: t-animation 6s;
    align-items: center;
  }

  .t2{
    animation: t-animation 6s;
    animation-delay: 6s;
    align-items: center;
  }

  .t3{
    animation: t-animation 6s;
    animation-delay: 10s;
    align-items: center;
  }

  .end{
    animation: end-animation 2s;
    animation-delay: 12s;
    animation-fill-mode: forwards;
    align-items: center;
  }

  .flicker{
    animation: flicker 10s infinite;
    align-items: center;
  }

  @keyframes t-animation {
    0% {opacity: 0;}
    30% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
  }

  @keyframes end-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes flicker {
    40.1% {left:0px;top:0px;}
    40.2% {left:10px;top:8px;}
    40.3% {left:0px;top:0px;}

    90.1% {left:0px;top:0px;}
    90.2% {left:-5px;top:3px;}
    90.3% {left:0px;top:0px;}
  }
#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
    body {
      overflow-x: hidden;
      overflow-y: hidden;
    }}