body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
      to bottom left,
      #6cf3f5,
      #91cefb,
      #b7b3ce,
      #efaed0,
      #f1b8fc
    );
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Square Peg', cursive;
}

